.DS_Store
._
._.*
*.pyc
*.so
venv*
build
lib
.bin
log/*
logs/*
!.gitkeep
tmp
.tmp
dist
*.egg-info
__pycache__
*.h5
*.pt
*.pth
.vscode
.python-version
README.rst
MNIST
lightning_logs
test_trainer
temp
.chroma